<%- include("partials/header") -%>
<!-- header section -->
<!-- intro section -->
<section id="intro" class="section intro">
  <% if(isLoggedIn){%>
  <div class="container">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h3>Bravo !! Bienvenue <%= user%> . Merci D'avoir choisit notre plateforme </h3>

    </div>
  </div>
  <%  } else {%>
  <div class="container">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h3>Streamer les musiques du moment</h3>
      <p>Inscrivez-vous pour déverrouiller toutes les fonctionnalités disponibles</p>
      <a href="/register" class="btn btn-large">S'enregistrer </a>
    </div>
  </div>
  <% }%>

</section>

<!-- intro section -->







<!-- gallery section -->
<section id="gallery" class="gallery section">
  <div class="container-fluid">
    <%  if(isLoggedIn){%>
    <div class="section-header">
      <h2 class="wow fadeInDown animated">Nos musiques</h2>
      <p class="wow fadeInDown animated">Notre meilleure sélection de la semaine</p>
    </div>

    <% } else{%>
      <div class="section-header">
        <h2 class="wow fadeInDown animated">Nos musiques</h2>
        <p class="wow fadeInDown animated">Vous pouvez écouter 2 musiques pour le moment.
          Connectez-vous pour en voir plus</p>
      </div>
    <%}%>
  
            <%- console.log(musics) -%>
    <div class="row no-gutter">
      <%  musics.forEach(music => {  %>


      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="musiques/<%= music._id%>" class="work-box"> <img
            src="<%= music.img %>" alt="">
          <div class="overlay">
            <div class="overlay-caption">
              <p><span class="icon icon-magnifying-glass"></span></p>
            </div>
          </div>
          <!-- overlay -->
        </a> </div>


      <%  }) %>

    </div>


  </div>
</section>


<!-- Footer section -->

<!-- < %- include("partials/footer") -%> -->
<!-- End footer -->