<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="author" content="webthemez.com">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Tunes - Music Website Template html5 bootstrap</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/flexslider.css">
<link rel="stylesheet" href="/css/jquery.fancybox.css">
<link rel="stylesheet" href="/css/main.css"> 
<link href="jPlayer-2.9.2/dist/skin/pink.flag/css/jplayer.pink.flag.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/css/responsive.css">
<link rel="stylesheet" href="/css/font-icon.css">
<link rel="stylesheet" href="/css/animate.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
  <style>
    .logout{
      background: #e7185c;
      color: #fff;

    }
    .logout:hover {
      background: #c10040;
      color: #fff;
    }
    
  </style>
<!-- header section -->
<section class="banner" role="banner">
  <header id="header">
    <div class="header-content clearfix"> <span class="logo"><a href="/views/index.ejs">tunes</a></span>
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
          <li><a href="/">Accueil </a></li>
          <li><a href="musiques">Musiques</a></li>
          <!-- <li><a href="#Playlist">Clips</a></li> -->
		  
          <li><a href=""> A propos </a></li>
          <% if(isLoggedIn){ %> 
            <li><a href=""> Welcome </a></li>
            <li><a href="/logout"> <input type="submit"   class="logout" value="Logout">  </a></li>
     <% } else{ %> 
       <li><a href="login"> Connecter Vous </a></li>
   <%   } %> 
    
        </ul>
      </nav>
      <a href="#" class="nav-toggle">Menu<span></span></a> </div>
  </header>
  <!-- banner text -->
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="banner-text text-center">
        <h1><%= name%> </h1>
        <p><%= title%></p></div>
      <!-- banner text --> 
    </div>
  </div>
</section>




<style >

    .single{
        margin:0;
        padding: 0;
      display: flex;
      flex-direction: column;
     align-items: center;
      position: relative;
      margin-top: -200px;
     
    }
    .single iframe {
        max-width: 600px;
     min-height: 400px;
    }
    .downloads-views{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    margin-bottom: 30px;
    margin-top: 30px;
    
    padding-left: 30px;
    }
    .downloads-views .description{
        max-width: 600px;
    }
    
</style>


<div class=" single "> 

    <iframe height="100%" width="100%" src="<%=url%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class=" downloads-views">
        <p class="description "><%= description%></p>
                 <button type="button" class="submitBnt btn">Downloads</button>
        
           </div>    
</div> 



    

<!-- Footer section -->

<%- include("partials/footer") -%>
<!-- End footer -->